* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;}

.main_container {
  display: flex;
}

.users_container {
  display: flex;
  flex-direction: column;
  width: 300px;
  padding: 20px;
  border: 2px solid lightgray;
  border-radius: 5px;
  max-height: 100vh;
  overflow-y: auto;
  scrollbar-width: thin ;
}
.users_container::-webkit-scrollbar {
  margin-top: 30%;
  width: 5px;
}

.users_container::-webkit-scrollbar-thumb {
  background-color: var(--button-bg);
  border-radius: 10px;
}

.users_container::-webkit-scrollbar-track {
  background: transparent;
}

.user_container {
  display: flex;
  align-items: center;
  gap: 10px;
  position: relative;
  background-color: var(--user-container-bg);
  margin-top: 10px;
  padding: 10px;
}

.user_container > img {
  border-radius: 50%;
  width: 50px;
  height: 50px;
}

.user_container > p {
  text-align: center;
  padding: 10px 20px;
}

.logout_button{
  position: absolute;
  margin-left: 15%;
  background-color: var(--button-bg);
  color: var(--button-txt);
  border: none;
  padding: 10px 20px;
  border-radius: 10px;
  cursor: pointer;
  font-size: 1rem;
}

.sent_messages_container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  height: 100vh;
  background-image: url(https://i.pinimg.com/564x/8c/98/99/8c98994518b575bfd8c949e91d20548b.jpg);
  padding: 20px;

}

.input_messages_container {
  display: flex;
  gap: 5px;
}
.input_messages_container > input {
  width: 100%;
  height: 20px;
  margin-top: 41%;
  padding: 20px;
}
.input_messages_container > button {
  margin-top: 41%;
  width: 50px;
  height: 40px;
  padding: 10px;
  background-color: var(--button-bg);
  border: none;
  border-radius: 10px;
  font-size: 1rem;
}

.user_chat_container {
  display: flex;
  flex-direction: column;
  gap: 10px; 
  padding: 10px;
}

.first_color {
  align-self: flex-start;
  text-align: right;
  background: var(--1st-user-color);
  padding: 10px;
  border-radius: 10px;
}

.second_user {
  align-self: flex-end;
  text-align: right;
  background: var(--2nd-user-color);
  padding: 10px;
  border-radius: 10px;
}
