* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

:root {
  /*
   Backgrounds
  */
  --welcome-bg: #f0f8ff;
  --form-bg: ghostwhite;

  /*
   Button
  */
  --button-bg: #3498db;
  --button-txt: white;
  --button-hvr: #2980b9;

  /*  users colors */
  --1st-user-color: white;
  --2nd-user-color: #dcf8c6;

  /* user container color  */
  --user-container-bg: lightgray;

  /* chat colors */
  --message-time-color: gray;
}

button:disabled {
  background-color: gray !important;
}
